*.py[cod]
*.yoyo-migrate
dump.rdb

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# My configuration file
*.cfg
*-config.php
Geo*.dat
*.basket
celerybeat-schedule.db

.DS_Store
*.sublime-workspace
