.chart {
  position: relative;
  width: 100%;
  height: 330px;
  min-width: 300px;
  margin-bottom: 30px;
}

.chart .nav {
  position: relative;
  height: 20px;
  left: 5px;
  top: 5px;
}

.chart .nav label {
  font-size: 10pt;
  font-weight: bold;
  margin-right: 3px;
}

.chart .nav select {
  margin-right: 10px;
}

.chart .graph {
  position: relative;
  height: 300px;
  min-width: 300px;
}

.chart .legend {
  position: relative;
  margin-right: 20px;
  margin-top: -10px;
  margin-left: 460px;
  text-align: right;
  font-size: 10pt;
  height: 20px;
  overflow: hidden;
}
